/* If number of knobs will change in any pedal, specific pedal styles will need to be applied */
.pedalContent {
  display: grid;
  grid-template-columns: 160px 160px;
  grid-template-rows: 80px 80px;
  gap: 40px;
  padding: 20px;
  justify-content: center;
}

.knobContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
